.square {
    background: #fff;
    border: 1px solid #999;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    float: left;
}

.square:focus {
    outline: none;
}
